{
  // Example: copy this to '.vscode/launch.json'. You may need to adjust some
  // settings such as 'BMPGDBSerialPort' depending on your platform...
  //
  // Use IntelliSense to learn about possible attributes.
  // Hover to view descriptions of existing attributes.
  // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
  "version": "0.2.0",
  "configurations": [
    {
      "type": "cortex-debug",
      "request": "launch",
      "servertype": "bmp",
      "cwd": "${workspaceRoot}",
      "executable": "${workspaceRoot}/target/thumbv6m-none-eabi/release/mcu-bootloader-rust",
      "svdFile": "${workspaceRoot}/stm32l0x2.svd",
      "name": "Debug (Black Magic Probe)",
      "device": "STM32L0X2",

      // for MacOS: change to your specific black magic probe, see `bobbin info`
      //"BMPGDBSerialPort": "/dev/cu.usbmodemC1CC90EE1",

      // for linux, use this udev rule :
      // `SUBSYSTEM=="tty", ATTRS{interface}=="Black Magic GDB Server", SYMLINK+="ttyBmpGdb"`
      // and uncomment the following line:
      "BMPGDBSerialPort": "/dev/ttyBmpGdb",

      "targetId": 1,
      "showDevDebugOutput": false,
      //"preLaunchTask": "cargo-build",
      "powerOverBMP": "enable"
    }
  ]
}
